/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto&display=swap');

/* Asteriks wildcard selector to override default browser seetings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Roboto', sans-serif;
}

h1{
    max-width: 560px;
}

h1, h2, h3 {
    font-family: 'Outfit', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

p {
    line-height: 1.6;
    font-size: 110%;
    text-align: justify;
}

/* Targeting the p and h2 elements in my sections */
p, h2 {
    padding: 1rem;
}

/* Header */

header {
    background-color: #2779a7;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #2779a7;
    width: 100%;
    left: 0;
    padding: 2px 1rem 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    flex: 3 0 auto;
    padding-top: 80px;
}

#background-hero-image {
    background: url(../images/hero-image.webp) no-repeat left center /cover;
    width: 100%;
    height: 800px;
    position: relative;
}

#cover-text {
    background-color: rgba(209, 72, 54, .6);
    font-size: 100%;
    position: absolute;
    top: 120px;
    width: 80%;
    min-height: 200px;
    right: 0;
}

#cover-text h2, h3 {
    padding: 20px 10px 10px 30px;
}

/* First Content section */
#contentpart-home h2 {
    background-color: rgba(236, 208, 111, .6);
    font-size: 100%;
    position: absolute;
    top: 700px;
    width: 60%;
}

#break-point-for-content {
    border-top: 1px solid #3a3a3a;
}

/* image gallery */
#gallery {
    display: flex;
    width: 100%;
    padding: 1rem 0;
}

#images {
    width: 100%;
    line-height: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#images img {
    width: 160px;
    line-height: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* targeting h2 in main (exept the first h2) */
.section-heading {
    background-color: rgba(236, 208, 111, .6);
    font-size: 100%;
    padding: 1rem;
    font-size: 110%;
    text-align: center;
}

/* Timeline */
/* Timeline code from https://www.educative.io/answers/how-to-create-a-timeline-in-html */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    top: 0;
    left: 50%;
    margin-left: -10px;
}

.timeline-item.left .timeline-content {
    left: 70%;
}

.timeline-item.right .timeline-content {
    left: 20%;
}

.timeline-content {
    position: relative;
    left: 30px;
}

.timeline-date {
    font-weight: bold;
    margin-bottom: 10px;
}

.timeline-description {
    margin-bottom: 10px;
}

/* Second Content Section*/
.subheadings {
    background-color: rgba(236, 208, 111, .6);
    font-size: 100%;
    position: relative;
    width: 80%;
}

#participation {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

.participation-group {
    flex-basis: 300px;
    border:solid 1px #3a3a3a;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    flex-grow: 1;
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
#social-media {
    text-align: center;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    color: #3a3a3a;
    padding: 10%;
    font-size: 200%;
}

footer {
    background-color: #ECD06F;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #cover-text {
        width: 300px;
        right: 50px;

    }

    /* targeting p elements */
    p {
        width: 90%;
        margin: auto;
    }

    /* targeting subheadings */
    .subheadings {
        width: 50%;
        margin: auto;
        text-align: center;
    }
}

/* Large devices (laptops and desktops, 992px and more)*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        color: #ffffff;
    }

    main {
        flex: 3 0 auto;
        padding-top: 75px;
    }

    #cover-text {
        width: 350px;
        top: 150px;
        right: 150px;
    }

    /* adjust h2 for content part home */
        #contentpart-home h2 {
        padding-left: 5rem;
        left: 20px;
        width: 50%;
    }

    /* adjust h2 for main part */
    .section-heading {
        padding: 1rem;
        width: 50%;
        margin: auto;
    }

    /* make participation section responsive */
    .participation-group {
        flex-basis: 400px;
    }
}